
.tooltip-wrapper{
  display: none;
}

@media screen and (min-width: 700px){

  .face__tip-container{
    display:block;
    position: absolute;
    left: -25%;
    top: max(-8rem, -20%);
    width: fit-content;
    cursor: pointer;
  }
  .face__tooltip{
    width: 30em;
    max-width: 50vw;
  }
  .face__icon{
    font-size: 5rem;
    background-color: white;
    padding: .2em;
    border-radius: 100%;
    box-shadow: rgba(0,0,0, .1) 4px 4px 7px 3px,
    rgba(0,0,0, .1) -4px -4px 7px 3px;
  }
  .face__icon path{
    color: black;
  }
  
}

@media screen and (min-width: 700px) and (max-height: 700px){
  .desc__title{
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 700px) and (max-height: 600px){
  .desc__title{
    font-size: 2rem;
  }
}
